{% extends 'base.html' %}
{% block title %}Детали навыка{% endblock %}
{% block content %}
    <div class="container">
        <div class="border-bottom pb-2 pt-2 text-center">
            <h2 class="font-weight-bold">Навык "{{ skill.name }}"</h2>
        </div>
        {% if skill.code_skill %}
            <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Код навыка: <span
                    class="font-weight-normal">{{ skill.code_skill }}</span></div>
        {% else %}
            <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Код навыка: <span
                    class="font-weight-normal">Код навыка отсутствует</span></div>
        {% endif %}

        {% if skill.name %}
            <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Навык:
                <span class="font-weight-normal">{{ skill.name }}</span>
            </div>
        {% else %}
            <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Навык: <span
                    class="font-weight-normal">Название навыка отсутствует</span></div>
        {% endif %}

        {% if skill.skill_comment %}
            <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Комментарий:
                <span class="font-weight-normal">{{ skill.skill_comment }}</span>
            </div>
        {% else %}
            <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Комментарий: <span
                    class="font-weight-normal">Комментарий отсутствует</span></div>
        {% endif %}

        {% if skill.category %}
            <div class="d-block font-weight-bold mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Секция: <span
                    class="font-weight-normal">{{ skill.category }}</span>
            </div>
        {% else %}
            <div class="d-block font-weight-bold mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Секция: <span
                    class="font-weight-normal">Секция навыка отсутствует</span></div>
        {% endif %}

        {% if skill.description %}
            <div class="d-block font-weight-bold mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Описание:
                <span class="font-weight-normal text-wrap text-break">{{ skill.description }}</span>
            </div>
        {% else %}
            <div class="d-block font-weight-bold mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Описание: <span
                    class="font-weight-normal">Описание навыка отсутствует</span></div>
        {% endif %}

        {% if skill.criterion %}
            <div class="d-block font-weight-bold mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Критерии: <span
                    class="font-weight-normal">{{ skill.criterion }}</span>
            </div>
        {% else %}
            <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Критерии: <span
                    class="font-weight-normal">Критерии навыка отсутствуют</span></div>
        {% endif %}

        {% if skill.difficulty %}
            <div class="d-block font-weight-bold mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Уровень сложности: <span
                    class="font-weight-normal">{{ skill.difficulty }}</span>
            </div>
        {% else %}
            <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Уровень сложности: <span
                    class="font-weight-normal">Не задан</span></div>
        {% endif %}

        <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Дата создания: <span
                class="font-weight-normal">{{ skill.created_date.date }}</span></div>
        <div class="d-block font-weight-bold mb-2 mb-2 col-lg-6 col-md-8 col-sm-9 col-12">Дата последнего
            редактирования: <span
                    class="font-weight-normal">{{ skill.updated_date.date }}</span></div>

        <div class="mt-3">
            {% if perms.webapp.change_skill %}
                <a href="{% url 'webapp:skill_update' skill.pk %}"
                   class="text-decoration-none text-dark small">
                    <button class="btn btn-warning m-0 shadow-none btn-sm">Редактировать</button>
                </a>
            {% endif %}
            {% if perms.webapp.delete_skill %}
                <a class="text-decoration-none text-dark small">
                    <button data-toggle="modal" data-placement="top" data-target="#Modal_{{ skill.pk }}"
                            class="btn btn-warning m-0 shadow-none btn-sm">Удалить
                    </button>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="Modal_{{ skill.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="card">
                    <h5 class="font-weight-bold text-center pt-2">Удаление навыка</h5>
                </div>
                <div class="modal-body p-0 m-0">
                    <div class="modal-body">
                        <p class="d-block text-center mb-2">Вы уверены что хотите удалить навык?
                            <span class="d-block font-weight-bold text-center">"{{ skill.code_skill }}. {{ skill.name }}"</span>
                            <small class="mt-0">(навык будет также удалён в результатах и программах)</small>
                        </p>
                        <div class="text-center">
                            <a href="{% url 'webapp:skill_delete' skill.pk %}"
                               class="text-decoration-none text-dark small">
                                <button class="btn btn-danger m-0 btn-sm" style="width: 50px;">Да
                                </button>
                            </a>
                            <a class="text-decoration-none text-dark small">
                                <button data-dismiss="modal" class="btn btn-warning m-0 btn-sm" style="width: 50px;">Нет
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
