{% extends 'base.html' %}
{% block title %}Список найденных навыков{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-4 d-block">Найденных результатов: {{ searched_skills.count }}</h3>
                {% if searched_skills.count == 0 %}
                    <p class="font-weight-normal">Поиск не дал никаких результатов. Поиск позволяет искать не только по названию навыка,
                но и коду навыка.</p>
                    <a href="{{ request.META.HTTP_REFERER }}">
                        <button class="btn btn-outline-dark" type="button">Искать снова</button>
                    </a>
                {% else %}
                    {% for skill in searched_skills %}
                        <div class="border-bottom">
                            <a href="{% url 'webapp:skill_detail' skill.pk %}" class="text-decoration-none text-dark">
                                <p class="d-inline-block text-wrap">{{ skill.code_skill }}. {{ skill.name }}</p>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}