{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Создание навыка {% endblock %}
{% block content %}
    <div class="container">
        <h3 class="text-center">Создание навыка</h3>
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
        <form action="{% url 'webapp:skill_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row was-validated">
                <label for="id_name" class="col-sm-2 col-form-label col-form-label-sm">Навык</label>
                <div class="col-sm-6">
                    {{ form.name }}
                    <small class="form-text text-muted">Обязательное поле</small>
                    {% for i in form.name.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row was-validated">
                <label for="id_code_skill" class="col-sm-2 col-form-label col-form-label-sm">Код навыка</label>
                <div class="col-sm-6">
                    {{ form.code_skill }}
                    <small class="form-text text-muted">Обязательное поле (формат ввода - должен продолжать название
                        секции, к примеру если название секции A, то навык должен называться Ax, где x - число.
                        Английская раскладка клавиатуры
                    </small>
                    {% for i in form.code_skill.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row was-validated">
                <label for="id_category" class="col-sm-2 col-form-label col-form-label-sm">Секция</label>
                <div class="col-sm-6">
                    {{ form.category }}
                    <small class="form-text text-muted">Обязательное поле</small>
                    {% for i in form.category.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_skill_comment" class="col-sm-2 col-form-label col-form-label-sm">Комментарий к
                    навыку</label>
                <div class="col-sm-6">
                    {{ form.skill_comment }}
                    <small class="form-text text-muted">По необходимости</small>
                    {% for i in form.skill_comment.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_description" class="col-sm-2 col-form-label col-form-label-sm">Описание</label>
                <div class="col-sm-6">
                    {{ form.description }}
                    <small class="form-text text-muted">По необходимости</small>
                    {% for i in form.description.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_criterion" class="col-sm-2 col-form-label col-form-label-sm">Критерий</label>
                <div class="col-sm-6">
                    {{ form.criterion }}
                    <small class="form-text text-muted">По необходимости</small>
                    {% for i in form.criterion.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_criterion" class="col-sm-2 col-form-label col-form-label-sm">Уровень сложности</label>
                <div class="col-sm-6">
                    {{ form.difficulty }}
                    <small class="form-text text-muted">По необходимости</small>
                    {% for i in form.difficulty.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-success m-2" style="width: 125px">Сохранить</button>
            <a role="button" class="btn btn-primary m-2" href="{{ request.META.HTTP_REFERER }}" style="width: 125px">Назад</a>
        </form>
    </div>
{% endblock %}