<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card">
                <h5 class="font-weight-bold text-center pt-2">Перемещение в архив</h5>
            </div>
            <div class="modal-body p-0 m-0">
                <div class="modal-body">
                    <p class="d-block text-center mb-1">Вы уверены что хотите переместить пользователя в архив?
                        <span class="d-block font-weight-bold text-center mb-3">"{{ current_user.user.username }}"</span>
                    </p>
                    <div class="text-center">
                        <a role="button" class="btn btn-danger m-0 btn-sm" style="width: 50px;"
                           href="{% url 'webapp:user_delete' current_user.user.pk %}">
                            <span class="text-decoration-none text-dark small">Да</span>
                        </a>
                        <button class="btn btn-warning m-0 btn-sm" style="width: 50px;" data-dismiss="modal">
                            <a class="text-decoration-none text-dark small">Нет</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>