{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Password update
{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="font-weight-bold border-bottom pb-2 mb-4">Изменение пароля "{{ account }}"</h2>
        <form action="{% url 'webapp:password_update' account.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_password1" class="col-sm-2 col-form-label col-form-label-sm">Новый пароль</label>
                <div class="col-sm-6">
                    {{ form.password1 }}
                    <small class="form-text text-muted">Новый пароль</small>
                    {% for i in form.password1.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_password2" class="col-sm-2 col-form-label col-form-label-sm">Подтвердите пароль</label>
                <div class="col-sm-6">
                    {{ form.password2 }}
                    <small class="form-text text-muted">Подтверждение пароля</small>
                    {% for i in form.password2.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-warning">Сохранить</button>
        </form>
    </div>
{% endblock %}