{% extends 'base.html' %}
{% block title %}Страница редактирования пользователя{% endblock %}
{% load staticfiles %}
{% load static %}
{% block styles %}
    {{ u_form.media.css }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="border-bottom pb-2 pt-2 text-center container">
            <h2 class="font-weight-bold">Редактирование пользователя</h2>
        </div>
        <div class="text-center text-danger mt-2">{{ form.non_field_errors }}</div>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_username" class="col-sm-2 col-form-label col-form-label-sm">Логин</label>
                <div class="col-sm-6">
                    {{ u_form.username }}
                    <small class="form-text text-muted">Обязательное поле. Не более 150 символов. Только буквы, цифры и
                        символы @/./+/-/_.
                    </small>
                    {% for i in u_form.username.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_groups" class="col-sm-2 col-form-label col-form-label-sm">Группа</label>
                <div class="col-sm-6">
                    {{ u_form.groups }}
                    {{ u_form.groups.errors }}
                    <small class="form-text text-muted"></small>
                    {% for i in u_form.groups.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_child" class="col-sm-2 col-form-label col-form-label-sm">Ребенок</label>
                <div class="col-sm-6">
                    {{ p_form.child }}
                    {{ p_form.child.errors }}
                    <small class="form-text text-muted"></small>
                    {% for i in p_form.child.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_first_name" class="col-sm-2 col-form-label col-form-label-sm">Имя</label>
                <div class="col-sm-6">
                    {{ u_form.first_name }}
                    {{ u_form.first_name.errors }}
                    <small class="form-text text-muted">Не обязательно</small>
                    {% for i in u_form.first_name.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_last_name" class="col-sm-2 col-form-label col-form-label-sm">Фамилия</label>
                <div class="col-sm-6">
                    {{ u_form.last_name }}
                    {{ u_form.last_name.errors }}
                    <small class="form-text text-muted">Не обязательно</small>
                    {% for i in u_form.last_name.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_email" class="col-sm-2 col-form-label col-form-label-sm">Почта</label>
                <div class="col-sm-6 input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                    </div>
                    {{ u_form.email }}
                    {{ u_form.email.errors }}
                    {% for i in u_form.email.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_phone" class="col-sm-2 col-form-label col-form-label-sm">Телефон</label>
                <div class="col-sm-6 input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                    </div>
                    {{ p_form.phone }}
                    {{ p_form.phone.errors }}
                    {% for i in p_form.phone.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-sm btn-outline-info mt-3" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ u_form.media.js }}
{% endblock %}
