{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Профиль пользователя
{% endblock %}
{% block content %}
    <div class="container">
        {% if request.user.username == current_user.user.username %}
            <div class="border-bottom pb-2 pt-2 text-center">
                <h2 class="font-weight-bold">Личный профиль</h2>
            </div>
        {% else %}
            <div class="border-bottom pb-2 pt-2 text-center">
                <h2 class="font-weight-bold">Просмотр профиля "{{ current_user.user.username }}"</h2>
            </div>
        {% endif %}
        <div class="d-block font-weight-bold mb-2">Логин: <span
                class="font-weight-normal">{{ current_user.user.username }}</span></div>
        {% if current_user.user.first_name and current_user.user.last_name %}
            <div class="d-block font-weight-bold mb-2">ФИО: <span
                    class="font-weight-normal">{{ current_user.user.first_name }} {{ current_user.user.last_name }}</span>
            </div>
        {% elif current_user.user.first_name %}
            <div class="d-block font-weight-bold mb-2">Имя: <span
                    class="font-weight-normal">{{ current_user.user.first_name }}</span></div>
        {% else %}
            <div class="d-block font-weight-bold mb-2">ФИО: <span
                    class="font-weight-normal">Не указано</span></div>
        {% endif %}
        {% if current_user.user.email %}
            <div class="d-block font-weight-bold mb-2">Почта: <span
                    class="font-weight-normal">{{ current_user.user.email }}</span></div>
        {% else %}
            <div class="d-block font-weight-bold mb-2">Почта: <span
                    class="font-weight-normal">Не указано</span></div>
        {% endif %}
        {% if current_user.phone %}
            <div class="d-block font-weight-bold mb-2">Номер: <span
                    class="font-weight-normal">{{ current_user.phone }}</span></div>
        {% else %}
            <div class="d-block font-weight-bold mb-2">Номер телефона: <span
                    class="font-weight-normal">Не указан</span></div>
        {% endif %}
        <div class="d-inline-block font-weight-bold mb-2">Группа пользователя:
            <span id="no_groups" class="font-weight-light"></span>
            {% for group in current_user.user.groups.all %}
                <span class="font-weight-normal" id="is_there_groups">{{ group }}</span>
            {% endfor %}
        </div>
        <div class="d-block font-weight-bold mb-2">Привязанные дети:
            <span id="no_child" class="font-weight-light"></span>
            {% for child in current_user.child.all %}
                <a href="{% url 'webapp:child_detail' child.pk %}"
                   id="is_there_child"
                   class="text-decoration-none text-dark border-bottom border-warning">{{ child.first_name }} {{ child.last_name }}</a>
            {% endfor %}
        </div>
        <div class="mt-3">
            <a href="{% url 'webapp:user_update' current_user.user.pk %}"
               class="text-decoration-none text-dark small">
                <button class="btn btn-warning m-0 shadow-none btn-sm">
                    Редактировать
                </button>
            </a>
            <a href="{% url 'webapp:password_update' current_user.user.pk %}"
               class="text-decoration-none text-dark small">
                <button class="btn btn-warning m-0 shadow-none btn-sm">
                    Изменить пароль
                </button>
            </a>
            <a data-toggle="modal" data-target="#deleteModal"
               data-delete-url="{% url 'webapp:user_delete' current_user.user.pk %}"
               class="text-decoration-none text-dark small">
                <button data-dismiss="modal" class="btn btn-warning m-0 btn-sm">В архив
                </button>
            </a>
        </div>
    </div>
    {% include 'users/user_delete_modal.html' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/user_detail/check_child_and_group.js' %}"></script>
{% endblock %}