{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Список пользователей
{% endblock %}
{% block content %}
    <div class="container">
        <div class="border-bottom pb-2 pt-2 text-center">
            <h2 class="font-weight-bold">Пользователи</h2>
        </div>
        <ul class="list-group list-group-flush w-50">
            {% for user in userinfo_list %}
                <li class="list-group-item p-2"><a
                        href="{% url 'webapp:user_detail' user.pk %}"
                        class="text-decoration-none text-dark d-block">{{ forloop.counter }}. {{ user.user.username.capitalize }}</a>
                    <span class="badge badge-pill badge-light ml-2 d-inline-block row">
                        {% for group in user.user.groups.values %}
                            {{ group.name }}
                        {% endfor %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}