{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
            integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
            crossorigin="anonymous"></script>
    {% block styles %}{% endblock %}
    <style>
        * {
            font-family: 'Arimo', sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light mb-3 border-bottom main-menu">
    <div class="container">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="{% url 'webapp:main_page' %}">
                <img src="{% static 'svg/chart-area-solid.svg' %}" width="20" height="20">
                <span class="h5 mb-0 pb-0 font-weight-light">ABA</span>
            </a>
        </nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="{% url 'webapp:child_list' %}"
                               class="nav-link text-dark child_page font-weight-light"
                               id="child_page">Дети</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'webapp:program_list' %}" class="nav-link text-dark font-weight-light"
                               id="program_page">
                                Программы
                            </a>
                        </li>
                        {% if perms.webapp.view_categories %}
                            <li class="nav-item active">
                                <a href="{% url 'webapp:categories_list' %}"
                                   class="nav-link text-dark font-weight-light"><span
                                        class="sr-only">(current)</span>Секции и навыки</a>
                            </li>
                        {% endif %}
                        {% if perms.webapp.can_register %}
                            <li class="nav-item">
                                <a href="{% url 'webapp:register' %}"
                                   class="nav-link text-dark child_page font-weight-light"
                                   id="child_page">Регистрация</a>
                            </li>
                        {% endif %}
                        {% if perms.webapp.view_userinfo %}
                            <li class="nav-item">
                                <a href="{% url 'webapp:users_list' %}"
                                   class="nav-link text-dark child_page font-weight-light"
                                   id="child_page">Пользователи</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'webapp:instruction' %}"
                               class="nav-link text-dark child_page font-weight-light"
                               id="child_page">Документация</a>
                        </li>
                    </ul>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item navbar-text text-light"><a href id="session_number"></a></li>
                        <li class="nav-item navbar-text text-dark">Привет, <span
                                class="text-capitalize font-weight-light border-bottom"><a
                                href="{% url 'webapp:user_detail' user.client.pk %}">{{ user.username }}</a></span> !
                        </li>
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link text-dark font-weight-light">Выход</a>
                        </li>
                        {% block menu %}
                        {% endblock %}
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link text-dark">Вход</a></li>
                    </ul>
                {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }} mb-2 text-center font-weight-bold p-1">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
</div>
{% block content %}{% endblock %}
<script src="{% static 'js/base/if_session_now.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block scripts %}
{% endblock scripts %}
</body>
</html>