{% load staticfiles %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Страница входа{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            crossorigin="anonymous"></script>
    {% block styles %}{% endblock %}
</head>
<body style="position: inherit">
<div class="container">
    <div class="content-center" style="text-align: -webkit-center">
        <h1 class="text-center mt-5">Вход</h1>
        <form action="{% url 'login' %}" method="post" class="form-css">
            {% csrf_token %}
            {% if form.errors %}
                <p class="form-text text-danger text-center error-text">Введено неверное имя пользователя или
                    пароль</p>
            {% endif %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-group">
                <label for="username" class="col-sm-2 col-form-label col-form-label-sm">
                    <span class="font-weight-bold">Логин</span></label>
                <div class="col-sm-6 input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><I class="fas fa-user"></I></div>
                    </div>
                    <input id="username" name="username"
                           class="form-control shadow-none"
                           placeholder="Имя пользователя"
                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label type="password" for="password"
                       class="col-sm-2 col-form-label col-form-label-sm"><span
                        class="font-weight-bold">Пароль</span></label>
                <div class="col-sm-6 input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><I class="fas fa-lock"></I></div>
                    </div>
                    <input id="password" name="password" type="password"
                           class="form-control shadow-none"
                           placeholder="Пароль"
                           value="{% if form.password.value %}{{ form.password.value }}{% endif %}">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary text-decoration-none shadow-none">Войти</button>
            </div>
        </form>
    </div>
</div>
<script src= "{% static 'js/login/check_login_input.js' %}"></script>
</body>
</html>