body {
    position: relative;
}

body::after {
    opacity: 0.15; /* 0.35 */
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/back-top.jpg") top 0 left 0/500px auto repeat-x,
    url("../img/back-bottom.jpg") bottom 0 left 0/500px auto repeat-x;
}

@media (max-width: 700px) {
    body::after {
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}

.main-menu, .rty {
    background: rgba(248, 249, 250, 0.7);
}

.main-menu:hover, .rty:hover {
    background: #f8f9fa;
}

.navbar {
    position: sticky;
    top: 0;
    min-height: 2em;
    z-index: 111;
}

.rty {
    position: sticky;
    top: 78px;
    padding: 5px;
    border-top: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;
    z-index: 110;
}

.button_find {
    margin-left: 2px;
    margin-right: 2px;
}

/*Session_detail------------------------------------------------------------------------------------------------------*/
@media (min-width: 460px) and (max-width: 2000px) {
    .d-flex form .done_but_padding {
        padding: 40px;
        width: 200px;
        height: 175px;
    }

    .d-flex form .done_but_padding span {
        font-size: 20px;
    }
}

@media (min-width: 460px) and (max-width: 2000px) {
    .w_hint_but_padding {
        padding: 40px;
        width: 200px;
        height: 175px;
    }

    .w_hint_but_padding span {
        font-size: 20px;
    }
}

@media (min-width: 362px) and (max-width: 459px) {
    .d-flex form .done_but_padding {
        padding: 20px;
        width: 150px;
        height: 134px;
    }

    .d-flex form .done_but_padding span {
        font-size: 20px;
    }
}

@media (min-width: 362px) and (max-width: 459px) {
    .w_hint_but_padding {
        padding: 20px;
        width: 150px;
        height: 134px;
    }

    .w_hint_but_padding span {
        font-size: 20px;
    }
}

@media (max-width: 361px) {
    .d-flex form .done_but_padding {
        padding: 12px;
        width: 128px;
        height: 114px;
    }

    .w_hint_but_padding span {
        font-size: 14px;
    }
}

@media (max-width: 361px) {
    .w_hint_but_padding {
        padding: 12px;
        width: 128px;
        height: 114px;
    }

    .w_hint_but_padding span {
        font-size: 14px;
    }
}

/*Program_detail------------------------------------------------------------------------------------------------------*/
.btn_outline_none:focus {
    box-shadow: none;
}

.btn_accordion_text {
    font-size: 18px;

}

.update_and_back {
    width: 125px;
}

.result {
    height: 33px;
}

.table_skill {
    overflow: auto;
}

.col-11 {
    border: 1px solid grey;
    border-collapse: collapse;
}

/*Modals------------------------------------------------------------------------------------------------------*/
.category_button1_modal {
    background-color: #76F163;
    border: none;
}

.category_button2_modal {
    background-color: #F5AEAE;
    border: none
}

.btn-outline-success, .btn-outline-danger, .btn-outline-primary {
    width: 70px;
}

.result_modal_inputs {
    width: 50px;
    text-align: center;
    margin: 5px;
}

.result_modal_link {
    width: 90px;
}

.content-center {
    text-align: -webkit-center;
}

.excel, .word {
    display: block;
    border-radius: 20px;
}
