.on {
    background: black;
    color: white;
}

@media (min-width: 460px) and (max-width: 2000px) {
    .header_text{
        font-size: 12px;
    }

    .status_header{
        left: -6px;
    }

    .level {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 13px;
        cursor: pointer;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }

    .category_title {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    min-height: 62px;
    background-color: rgba(43, 149, 255, 0.7)
    }

    .skill_code {
    display: inline-block;
    font-size: 16px;
    }
}

@media (max-width: 459px) {
    .header_text{
        font-size: 14px;
    }

    .level {
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }

    .category_title {
        padding: 5px;
        border-radius: 5px;
        font-size: 20px;
        min-height: 62px;
        background-color: rgba(43, 149, 255, 0.7)
    }

    .skill_code {
        display: inline-block;
        font-size: 20px;
    }
}
