{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-6 col-6 text-center mb-5">
                <div class="content-center">
                    <a href="{% url 'webapp:child_list' %}">
                        <img src="{% static 'svg/child.svg' %}" alt="" width="130px" height="130px"
                             class="img-thumbnail rounded-circle bg-dark d-block child_image"/>
                    </a>
                </div>
                <div class="mx-auto mt-1">
                    <span class="badge badge-pill badge-secondary font-weight-light">Дети</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-6 text-center">
                <div class="content-center">
                    <a href="{% url 'webapp:program_list' %}">
                        <img src="{% static 'svg/programs.svg' %}" alt="" width="130px" height="130px"
                             class="img-thumbnail rounded-circle bg-dark d-block program_image"/>
                    </a>
                </div>
                <div class="mx-auto mt-1">
                    <span class="badge badge-pill badge-secondary font-weight-light">Программы</span>
                </div>
            </div>
            {% if perms.webapp.view_categories %}
                <div class="col-lg-4 col-md-6 col-sm-6 text-center col-6">
                    <div class="content-center">
                        <a href="{% url 'webapp:categories_list' %}">
                            <img src="{% static 'svg/section.svg' %}" alt="" width="130px" height="130px"
                                 class="img-thumbnail rounded-circle bg-dark d-block section_image"/>
                        </a>
                    </div>
                    <div class="mx-auto mt-1">
                        <span class="badge badge-pill badge-secondary font-weight-light">Секции и навыки</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}