{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Список навыков{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <form action='{% url 'webapp:search_view_skill' %}' method="GET" accept-charset="utf-8"
                  class="form-group rty">
                <div class="form-row">
                    <div class="col-lg-3 col-md-5 col-sm-5 col-5">
                        <input class="form-control form-control-sm shadow-none"
                               name="q"
                               id="field"
                               value="{{ request.GET.q }}"
                               type="text"
                               placeholder="Поиск навыков..."
                               aria-label="Поиск...">
                    </div>
                    <div class="col button_find p-0">
                        <button class="btn btn-sm btn-warning btn-disabled" type="submit">Поиск</button>
                    </div>
                    {% if perms.webapp.add_skill %}
                        <a role="button" class="btn btn-warning mr-2 btn-sm"
                           href="{% url 'webapp:skill_create' %}">
                            <span class="text-decoration-none text-dark">Добавить навык</span>
                        </a>
                    {% endif %}
                </div>
            </form>
            <h2 class="font-weight-bold border-bottom pb-2">Навыки секции "{{ categories.name }}"</h2>
            {% for skill in categories.skill.all %}
                <div class="border-bottom pb-2 pb-3 mb-2">
                    <a role="button" class="text-decoration-none text-dark font-weight-bold"
                       data-toggle="tooltip" data-placement="right" title="Нажмите для просмотра навыков в категории"
                       href="{% url 'webapp:skill_detail' skill.pk %}">
                        <h6 class="text-nowrap d-block mb-0 font-weight-bold">{{ skill.code_skill }}.
                            <span class="font-weight-bold">{{ skill.name }}</span></h6>
                    </a>
                    {% if skill.criterion %}
                        <p class="d-block pb-0 mb-0 mt-1 ml-3">Критерий: <span
                                class="font-weight-bold">{{ skill.criterion }}</span></p>
                    {% else %}
                        <p class="d-block pb-0 mb-0 mt-1 ml-3">Критерий: <span
                                class="font-weight-bold">Не выдан</span></p>
                    {% endif %}
                    {% if skill.difficulty %}
                        <p class="d-block pb-0 mb-0 mt-1 ml-3">Уровень сложности: <span
                                class="font-weight-bold">{{ skill.difficulty }}</span></p>
                    {% else %}
                        <p class="d-block pb-0 mb-0 mt-1 ml-3">Уровень сложности: <span
                                class="font-weight-bold">Не задан</span></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/check_find_input_is_not_null/check_find_input_is_not_null.js' %}"></script>
{% endblock %}