{% extends 'base.html' %}
{% block title %}Редактирование категорий{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Редактирование секции</h2>
        <form action="{% url 'webapp:categories_update' form.instance.pk %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row was-validated">
                <label for="id_name" class="col-sm-2 col-form-label col-form-label-sm">Секция</label>
                <div class="col-sm-6">
                    {{ form.name }}
                    {% for i in form.name.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                    <small class="form-text text-muted">Обязательное поле</small>
                </div>
            </div>
            <div class="form-group row was-validated">
                <label for="id_code_category" class="col-sm-2 col-form-label col-form-label-sm">Код секции</label>
                <div class="col-sm-6">
                    {{ form.code_category }}
                    {% for i in form.code_category.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                    <small class="form-text text-muted">Обязательное поле(формат ввода- одна или несколько заглавных
                        букв. Английская раскладка клавиатуры)
                    </small>
                </div>
            </div>
            <button type="submit" class="btn btn-success m-2" style="width: 125px">Сохранить</button>
            <a role="button" class="btn btn-primary -2" href="{% url 'webapp:categories_list' %}"
               style="width: 125px">Назад</a>
        </form>
    </div>
{% endblock %}