{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Список категорий{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <form action='{% url 'webapp:search_view_categories' %}' method="GET" accept-charset="utf-8"
                  class="form-group rty">
                <div class="form-row">
                    <div class="col-lg-3 col-md-5 col-sm-5 col-5">
                        <input class="form-control form-control-sm shadow-none"
                               name="q"
                               id="field"
                               value="{{ request.GET.q }}"
                               type="text"
                               placeholder="Поиск секций..."
                               aria-label="Поиск...">
                    </div>
                    <div class="col button_find p-0">
                        <button class="btn btn-sm btn-warning btn-disabled" type="submit">Поиск</button>
                    </div>
                    {% if perms.webapp.add_categories %}
                        <a role="button" class="btn btn-warning mr-2 btn-sm"
                           href="{% url 'webapp:categories_create' %}">
                            <span class="text-decoration-none text-dark">Добавить секцию</span>
                        </a>
                    {% endif %}
                </div>
            </form>
            <h2 class="font-weight-bold border-bottom pb-2">Секции</h2>
            {% for categories in categories_list %}
                <div class="border-bottom pb-2 mb-2 pb-2">
                    <a role="button" class="text-decoration-none text-dark font-weight-bold"
                       data-toggle="tooltip" data-placement="right" title="Нажмите для просмотра навыков в категории"
                       href="{% url 'webapp:categories_detail' categories.pk %}">
                        <h5 class="text-wrap d-block mb-0 font-weight-bold">{{ categories.pk }}. {{ categories.name }}</h5>
                    </a>
                    <p class="d-block pb-0 mb-0 mt-1 ml-3">Код секции: <span
                            class="font-weight-bold">{{ categories.code_category }}</span></p>
                    {% if perms.webapp.change_categories %}
                        <a class="text-decoration-none text-decoration-none text-dark d-inline-block pb-0 mb-0 font-weight-light ml-3 mt-1"
                           href="{% url 'webapp:categories_update' categories.pk %}"><span
                                class="small border-bottom border-warning pb-1">Редактировать</span></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/check_find_input_is_not_null/check_find_input_is_not_null.js' %}"></script>
{% endblock %}
