{% extends 'base.html' %}
{% block title %}Создание профиля ребёнка{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="mb-4">Добавление профиля ребёнка</h2>
        <form action="{% url 'webapp:child_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row was-validated">
                <label for="id_first_name" class="col-sm-2 col-form-label col-form-label-sm">Имя
                    ребенка:</label>
                <div class="col-sm-6">
                    {{ form.first_name }}
                    <small class="form-text text-muted">Обязательное поле</small>
                    {% for i in form.first_name.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row was-validated">
                {{ form.last_name.errors }}
                <label for="id_last_name" class="col-sm-2 col-form-label col-form-label-sm">Фамилия ребенка:</label>
                <div class="col-sm-6">
                    {{ form.last_name }}
                    <small class="form-text text-muted">Обязательное поле</small>
                    {% for i in form.last_name.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_third_name" class="col-sm-2 col-form-label col-form-label-sm">Отчество ребенка:</label>
                <div class="col-sm-6">
                    {{ form.third_name }}
                    {% for i in form.third_name.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}

                </div>
            </div>
            <div class="form-group row">
                <label for="id_birthday" class="col-sm-2 col-form-label col-form-label-sm">Дата рождения.</label>
                <div class="col-sm-6">
                    {{ form.birthday }}
                    {% for i in form.birthday.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row was-validated">
                <label for="id_age" class="col-sm-2 col-form-label col-form-label-sm">Возраст:</label>
                <div class="col-sm-6">
                    {{ form.age }}
                    <small class="form-text text-muted">Обязательное поле</small>
                    {% for i in form.age.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_address" class="col-sm-2 col-form-label col-form-label-sm">Адрес:</label>
                <div class="col-sm-6">
                    {{ form.address }}
                    {% for i in form.address.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_characteristic" class="col-sm-2 col-form-label col-form-label-sm">Характеристика:</label>
                <div class="col-sm-6">
                    {{ form.characteristic }}
                    {% for i in form.characteristic.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_preferences" class="col-sm-2 col-form-label col-form-label-sm">Предпочтения:</label>
                <div class="col-sm-6">
                    {{ form.preferences }}
                    {% for i in form.preferences.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_communication_system" class="col-sm-2 col-form-label col-form-label-sm">Система коммуникации:</label>
                <div class="col-sm-6">
                    {{ form.communication_system }}
                    {% for i in form.communication_system.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row was-validated">
                <label for="id_first_parent" class="col-sm-2 col-form-label col-form-label-sm">Первый родитель:</label>
                <div class="col-sm-6">
                    {{ form.first_parent }}
                    <small class="form-text text-muted">Обязательное поле</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_second_parent" class="col-sm-2 col-form-label col-form-label-sm">Второй родитель:</label>
                <div class="col-sm-6">
                    {{ form.second_parent }}
                    {% for i in form.first_pasecond_parentrent.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_contacts" class="col-sm-2 col-form-label col-form-label-sm">Контакты:</label>
                <div class="col-sm-6 input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-phone"></i></div>
                    </div>
                    {{ form.contacts }}
                    {% for i in form.contacts.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary p-1" id="add_child_button" style="width: 70px;">Добавить
            </button>
            <a role="button" class="btn btn-primary p-1" href="{% url 'webapp:child_list' %}"
               style="width: 70px;">Назад</a>
        </form>
    </div>
{% endblock %}