{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Список детей{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <form action='{% url 'webapp:search_view' %}' method="GET" accept-charset="utf-8"
                  class="form-group rty">
                <div class="form-row">
                    <div class="col-lg-3 col-md-5 col-sm-5 col-5">
                        <input class="form-control form-control-sm shadow-none"
                               name="q"
                               id="field"
                               value="{{ request.GET.q }}"
                               type="text"
                               placeholder="Поиск детей..."
                               aria-label="Поиск...">
                    </div>
                    <div class="col button_find p-0">
                        <button class="btn btn-sm btn-warning btn-disabled" type="submit">Поиск</button>
                    </div>
                    {% if perms.webapp.add_child %}
                        <a role="button" class="btn btn-warning mr-2 btn-sm" id="child_add"
                           href="{% url 'webapp:child_create' %}">
                            <span class="text-decoration-none text-dark">Добавить ребенка</span>
                        </a>
                    {% endif %}
                </div>
            </form>
            <h2 class="font-weight-bold border-bottom w-100 pb-2">Список детей</h2>
            <div class="list-group">
                {% for c in child_list %}
                    <a href="{% url 'webapp:child_detail' c.pk %}" class="list-group-item list-group-item-action m-1">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="font-weight-bolder">{{ c.first_name }} {{ c.last_name }}</h5>
                            <small>Возраст: {{ c.age }}</small>
                        </div>
                        {% if c.characteristic %}
                            <p class="font-weight-normal d-block">Характеристика: {{ c.characteristic }}</p>
                        {% else %} <p class="font-weight-normal">Характеристики к данному ребенку не выданы</p>
                        {% endif %}
                        <small class="d-block">Родитель: {{ c.first_parent }}</small>
                        <small class="d-block">Начало терапии: {{ c.created_date.date }}</small>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/check_find_input_is_not_null/check_find_input_is_not_null.js' %}"></script>
{% endblock %}