{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Профиль ребёнка{% endblock %}
{% block content %}
    <div class="border-bottom pb-2 pt-2 text-center container">
        <h2 class="font-weight-bold">Личный профиль ребёнка</h2>
    </div>
    <div class="container d-flex flex-wrap">
        <div class="col-md-6 col-sm-12 p-3">
            {% if child.third_name %}
                <p class="font-weight-bold">ФИО ребенка: <span
                        class="font-weight-normal">{{ child.last_name }} {{ child.first_name }} {{ child.third_name }}</span>
                </p>
            {% else %}
                <p class="font-weight-bold">ФИО ребенка: <span
                        class="font-weight-normal">{{ child.last_name }} {{ child.first_name }}</span></p>
            {% endif %}

            {% if child.birthday %}
                <p class="font-weight-bold">Год рождения: <span class="font-weight-normal">{{ child.birthday }}</span>
                </p>
            {% else %}
                <p class="font-weight-bold">Год рождения: <span class="font-weight-normal">Год рождения не указан</span>
                </p>
            {% endif %}

            <p class="font-weight-bold">Возраст: <span class="font-weight-normal">{{ child.age }}</span></p>

            {% if child.address %}
                <p class="font-weight-bold">Адрес проживания: <span
                        class="font-weight-normal">{{ child.address }}</span>
                </p>
            {% else %}
                <p class="font-weight-bold">Адрес проживания: <span
                        class="font-weight-normal">Адрес проживания не указан</span></p>
            {% endif %}

            {% if child.characteristic %}
                <p class="font-weight-bold">Характеристика: <span
                        class="font-weight-normal">{{ child.characteristic }}</span></p>
            {% else %}
                <p class="font-weight-bold">Характеристика: <span
                        class="font-weight-normal">Характеристика отсутствует</span></p>
            {% endif %}

            {% if child.preferences %}
                <p class="font-weight-bold">Предпочтения: <span
                        class="font-weight-normal">{{ child.preferences }}</span>
                </p>
            {% else %}
                <p class="font-weight-bold">Предпочтения: <span
                        class="font-weight-normal">Предпочтения отсутствуют</span>
                </p>
            {% endif %}

            {% if child.communication_system %}
                <p class="font-weight-bold">Система коммуникации: <span
                        class="font-weight-normal">{{ child.communication_system }}</span>
                </p>
            {% else %}
                <p class="font-weight-bold">Система коммуникации: <span class="font-weight-normal">Не указана</span>
                </p>
            {% endif %}

            {% if child.first_parent %}
                <p class="font-weight-bold">Первый родитель: <span
                        class="font-weight-normal">{{ child.first_parent }}</span></p>
            {% endif %}
            {% if child.second_parent %}
                <p class="font-weight-bold">Второй родитель: <span
                        class="font-weight-normal">{{ child.second_parent }}</span></p>
            {% endif %}

            {% if child.contacts %}
                <p class="font-weight-bold">Контакты: <span class="font-weight-normal">{{ child.contacts }}</span></p>
            {% else %}
                <p class="font-weight-bold">Контакты: <span class="font-weight-normal">Контакты не указаны</span></p>
            {% endif %}

            <div class="d-block font-weight-bold mb-2">Дата создания профиля ребенка: <span
                    class="font-weight-normal">{{ child.created_date.date }}</span></div>
            <div class="d-block font-weight-bold mb-2">Дата последнего редактирования профиля ребенка: <span
                    class="font-weight-normal">{{ child.edited_date.date }}</span></div>
            <div class="mt-2">
                {% if perms.webapp.change_skill %}
                    <a href="{% url 'webapp:child_update' child.pk %}"
                       class="text-decoration-none text-dark small">
                        <button class="btn btn-warning m-0 btn-sm mr-1">Редактировать</button>
                    </a>
                {% endif %}
                {% if perms.webapp.delete_skill %}
                    <a data-toggle="modal" data-target="#deleteModal"
                       data-delete-url="{% url 'webapp:child_delete' child.pk %}"
                       class="text-decoration-none text-dark small">
                        <button data-dismiss="modal" class="btn btn-warning m-0 btn-sm">В архив
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-sm-12 text-center p-3">
            {% if perms.webapp.can_test %}
                <a href="{% url 'webapp:create_testing' child.pk %}" class="btn btn-primary btn-lg m-3">Начать тест</a>
            {% endif %}
            <div class="m-3">
                <h3>Прошлые тесты</h3>
                {% for test in test_list %}
                    <p class="text-left font-weight-bold pl-4">
                        <a href="{% url 'webapp:start_testing' child.pk test.pk %}">Тест №{{ test.pk }}</a>
                        <span class="pl-4">
                    {% if test.status %}
                        Открыт
                    {% else %}
                        Закрыт
                    {% endif %}
                    </span>
                    </p>
                    <hr>
                {% endfor %}
            </div>
        </div>
        <div class="text-center col-12">
            <h2 class="font-weight-bold border-bottom w-100 pt-3 pb-2">Программы ребенка</h2>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                    <h5 class="font-weight-bold mt-2 mb-0 border-bottom pb-2">Открытые программы</h5>
                    <div class="list-group mt-0">
                        <p id="no_open_program" class="text-dark font-weight-normal mt-2"></p>
                        {% for program in child.child_in_program.all %}
                            {% if program.status == True %}
                                <div class="list-group-item open_program rounded col-7 col-sm-12">
                                    <div class="border-bottom text-center">
                                        <h5 class="mb-1 text-dark font-weight-bold">Программа - {{ program.child }}</h5>
                                    </div>
                                    <div class="text-center mt-1 mb-1">
                                        <button class="btn btn-warning m-0 btn-sm mb-2 mt-2"><a
                                                href="{% url 'webapp:program_detail' program.pk %}"
                                                class="text-decoration-none text-dark">Перейти в программу</a>
                                        </button>
                                        <p class="border-top p-0 m-0 text-center pt-2 small font-weight-bold pb-0">Дата
                                            создания: {{ program.created_date.date }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                    <h5 class="font-weight-bold mt-2 mb-0 border-bottom pb-2">Закрытые программы</h5>
                    <div class="list-group mt-0">
                        <p id="no_close_program" class="text-dark font-weight-normal mt-2"></p>
                        {% for program in child.child_in_program.all %}
                            {% if program.status != True %}
                                <div class="list-group-item close_program rounded col-8 col-sm-12">
                                    <div class="border-bottom text-center">
                                        <h5 class="mb-1 text-dark font-weight-bold">Программа - {{ program.child }}</h5>
                                    </div>
                                    <div class="text-center mt-1 mb-1">
                                        <button class="btn btn-warning m-0 btn-sm mb-2 mt-2"><a
                                                href="{% url 'webapp:program_detail' program.pk %}"
                                                class="text-decoration-none text-dark">Перейти в программу</a>
                                        </button>
                                    </div>
                                    <p class="border-top p-0 m-0 text-center pt-2 small font-weight-bold pb-0">Дата
                                        создания: {{ program.created_date.date }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'child_views/child_delete_modal.html' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/child_detail/check_program.js' %}"></script>
{% endblock %}
