{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Детали программы{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center border-bottom pb-2 pt-2">
            <h2 class="font-weight-bold  d-inline-block ">Просмотр программы</h2>
            <a class="btn-outline-primary w-7 h-7 word text-center"
               href="{% url 'webapp:create_program' program.pk %}">
                <img src="{% static 'svg/word.svg' %}" alt="" width="40px" height="40px"/>
            </a>
        </div>
        <div class="d-flex flex-wrap">
            <div class="col-md-6 col-sm-12">
                {% if program.status == True %}
                    <p class="font-weight-bold">Статус программы:
                        <span class="font-weight-bold border-bottom border-warning">действующая</span>
                    </p>
                {% else %}
                    <h5 class="font-weight-bold">Статус программы:
                        <span class="font-weight-bolder border-bottom border-warning h5">закрыто</span>
                    </h5>
                {% endif %}

                {% if program.child.third_name %}
                    <div class="d-block font-weight-bold mb-2">Ребенок: <span
                            class="font-weight-normal">{{ program.child.last_name }} {{ program.child.first_name }} {{ program.child.third_name }}</span>
                    </div>
                {% else %}
                    <div class="d-block font-weight-bold mb-2">Ребенок: <span
                            class="font-weight-normal">{{ program.child.last_name }} {{ program.child.first_name }}</span>
                    </div>
                {% endif %}

                {% if program.name %}
                    <div class="d-block font-weight-bold mb-2">Программа: <span
                            class="font-weight-normal">{{ program.name }}</span></div>
                {% else %}
                    <div class="d-block font-weight-bold mb-2">Программа: <span
                            class="font-weight-normal">Отсутствует</span></div>
                {% endif %}

                {% if program.description %}
                    <div class="d-block font-weight-bold mb-2">Описание: <span
                            class="font-weight-normal">{{ program.description }}</span>
                    </div>
                {% else %}
                    <div class="d-block font-weight-bold mb-2">Описание: <span
                            class="font-weight-normal">Отсутствует</span></div>
                {% endif %}

                {% if program.program_comment %}
                    <div class="d-block font-weight-bold mb-2">Комментарий: <span
                            class="font-weight-normal">{{ program.program_comment }}</span>
                    </div>
                {% else %}
                    <div class="d-block font-weight-bold mb-2">Комментарий: <span
                            class="font-weight-normal">Отсутствует</span></div>
                {% endif %}

                <div class="d-block font-weight-bold mb-2">Автор: <span
                        class="font-weight-normal">{{ program.author_therapist.user }}</span>
                </div>

                <div class="d-block font-weight-bold mb-2">Дата создания: <span
                        class="font-weight-normal">{{ program.created_date.date }}</span></div>

                <div class="d-block font-weight-bold mb-2">Дата последнего редактирования: <span
                        class="font-weight-normal">{{ program.edited_date.date }}</span></div>

                <div class="mt-3 mb-3">
                    {% if program.status == True %}
                        {% if perms.webapp.add_skillsinprogram %}
                            <a class="text-decoration-none text-dark small">
                                <button data-toggle="modal" data-target="#addSkill"
                                        class="btn btn-warning btn-sm m-1">Добавить навык в программу
                                </button>
                            </a>
                        {% endif %}
                        {% if perms.webapp.change_program %}
                            <a href="{% url 'webapp:program_update' program.pk %}"
                               class="text-decoration-none text-dark small update_and_back">
                                <button class="btn btn-warning m-1 btn-sm">Редактировать
                                </button>
                            </a>
                        {% endif %}
                        {% if perms.webapp.delete_program %}
                            <a data-toggle="modal" data-target="#deleteModal"
                               data-delete-url="{% url 'webapp:program_delete' program.pk %}"
                               class="text-decoration-none text-dark small">
                                <button data-dismiss="modal" class="btn btn-warning btn-sm m-1">В архив
                                </button>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if perms.webapp.delete_program %}
                            <a data-toggle="modal" data-target="#deleteModal"
                               data-delete-url="{% url 'webapp:program_delete' program.pk %}"
                               class="text-decoration-none text-dark small">
                                <button data-dismiss="modal" class="btn btn-warning m-1 btn-sm">В архив
                                </button>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
            <div class="col-md-5 col-sm-12 text-center m-3 mt-5">
                {% if perms.webapp.run_session %}
                    {% if program.status == True %}
                        <a role="button" class="btn btn-primary btn-lg m-3 start_session"
                           href
                           number={{ program.pk }}
                        >Начать сессию
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="text-center col-12">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <button class="btn btn_outline_none btn-light"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseOne"
                                aria-controls="collapseOne">
                            <span class="btn_accordion_text">Все навыки в программе</span>
                        </button>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <h5 id="no_session" class="text-dark text-center m-0 pl-5"></h5>
                            <div id="table_1" class="table m-0 table_skill">
                                <table class="col-12 table table-bordered m-0 p-0">
                                    <thead>
                                    <tr class="text-center">
                                        <th scope="col">Название</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for program_skill in program.related_to_program.all %}
                                        <tr>
                                            <td class="is_there_skills">
                                                {% if program.status == True %}
                                                    <p class="text m-0 text-truncate font-weight-normal">
                                                        {% if perms.webapp.change_skillsinprogram %}
                                                            <a href="{% url 'webapp:program_skill_update' program.pk program_skill.pk %}"
                                                               class="btn btn-primary btn-sm">Редактировать</a>
                                                        {% endif %}
                                                        {{ program_skill.skill.code_skill }}
                                                        | {{ program_skill.skill.name }}</p>

                                                {% else %}
                                                    <p class="text m-0 text-truncate font-weight-normal">
                                                        {{ program_skill.skill.code_skill }}
                                                        | {{ program_skill.skill.name }}</p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <button class="btn btn_outline_none btn-light"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseTwo"
                                aria-controls="collapseTwo">
                            <span class="btn_accordion_text">Закрытые навыки в программе</span>
                        </button>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <h5 id="close_skill" class="text-dark text-center m-0 pl-5"></h5>
                            <div id="table_2" class="table m-0 table_skill">
                                <table class="col-12 table table-bordered m-0 p-0">
                                    <thead>
                                    <tr class="text-center">
                                        <th scope="col">Название</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for program_skill in program.related_to_program.all %}
                                        {% if program_skill.status == False %}
                                            <tr>
                                                <td class="is_there_close_skill">
                                                    <p class="text m-0 text-truncate font-weight-normal">
                                                        {{ program_skill.skill.code_skill }}
                                                        | {{ program_skill.skill.name }}</p>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <button class="btn btn_outline_none btn-light"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-controls="collapseThree">
                            <span class="btn_accordion_text">Открытые навыки в программе</span>
                        </button>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <h5 id="open_skill" class="text-dark text-center m-0 pl-5"></h5>
                            <div id="table_3" class="table m-0 table_skill">
                                <table class="col-12 table table-bordered m-0">
                                    {% if all_skill.values %}
                                        <thead>
                                        <tr class="text-center">
                                            <th scope="col">Название</th>
                                            <th scope="col">Процент</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for skill, percent in all_skill.items %}
                                            <tr class="text-left is_there_open_skill">
                                                <td>{{ skill }}</td>
                                                <td class="text-center">{{ percent }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% if program.session_program.all %}
                    <h3 class="text-center mt-4">Результаты по сессиям</h3>
                    <div class="d-flex justify-content-center text-center mb-2">
                        <div><a class="btn-outline-success w-7 h-7 excel"
                                href="{% url 'webapp:create_excel' program.pk %}">
                            <img src="{% static 'svg/excel.svg' %}" alt="" width="40px" height="40px"/>
                        </a>
                            <span class="text-dark">Графики</span></div>
                        <div><a class="btn-outline-primary w-7 h-7 word"
                                href="{% url 'webapp:create_homework' program.pk %}">
                            <img src="{% static 'svg/word.svg' %}" alt="" width="40px" height="40px"/></a>
                            <span class="text-dark">Д/З</span>
                        </div>
                    </div>
                {% else %}
                    <h3 class="text-center mt-4">Результаты по сессиям</h3>
                    <h4 id="session" class="text-dark font-weight-normal text-center mt-3"></h4>
                {% endif %}
                <div class="row justify-content-center">
                    {% for session in program.session_program.all %}
                        {% if session.status_session %}
                            <div class="col-11 col-sm-5 col-md-3 col-lg-2 m-1 p-0 is_there_session">
                                <div class="card-header text-center"><b>Сессия <br> {{ session.created_date.date }}</b>
                                </div>
                                <div class="card-body text-center p-0 m-0 result">
                                    <a href="{% url 'webapp:session_result_view' session.pk %}"
                                       class="btn btn-block btn-primary m-0">Результат</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="card">
                        <h5 class="font-weight-bold text-center pt-2">Перемещение в архив</h5>
                    </div>
                    <div class="modal-body p-0 m-0">
                        <div class="modal-body">
                            <p class="d-block text-center mb-1">Вы уверены что хотите переместить программу в архив?</p>
                            <div class="text-center">
                                <a role="button" class="btn btn-danger m-0 btn-sm" style="width: 50px;"
                                   href="{% url 'webapp:program_delete' program.pk %}">
                                    <span class="text-decoration-none text-dark small">Да</span>
                                </a>
                                <button class="btn btn-warning m-0 btn-sm" style="width: 50px;" data-dismiss="modal">
                                    <a class="text-decoration-none text-dark small">Нет</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'program_views/_modalAddForm.html' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/program_detail/check_skill.js' %}"></script>
{% endblock %}