{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Список программы{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <form action='{% url 'webapp:search_view_program' %}' method="GET" accept-charset="utf-8"
                  class="form-group rty">
                <div class="form-row">
                    <div class="col-lg-3 col-md-5 col-sm-5 col-5">
                        <input class="form-control form-control-sm shadow-none"
                               name="q"
                               id="field"
                               value="{{ request.GET.q }}"
                               type="text"
                               placeholder="Поиск программ..."
                               aria-label="Найти...">
                    </div>
                    <div class="col button_find p-0">
                        <button class="btn btn-sm btn-warning btn-disabled" type="submit">Поиск</button>
                    </div>
                    {% if perms.webapp.add_program %}
                        <a role="button" class="btn btn-warning mr-2 btn-sm" id="program_add"
                           href="{% url 'webapp:program_create' %}">
                            <span class="text-decoration-none text-dark"
                                  style="font-size: 12px">Добавить программу</span>
                        </a>
                    {% endif %}
                </div>
            </form>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <button class="btn btn_outline_none btn-light"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseOne">
                        <span class="btn_accordion_text">Открытые программы</span>
                    </button>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <h5 id="no_open_program" class="text-dark text-center m-0"></h5>
                        {% for program in program_list %}
                            {% if program.status %}
                                <a href="{% url 'webapp:program_detail' program.pk %}"
                                   class="list-group-item list-group-item-action m-1">
                                    <div class="d-flex w-100 justify-content-between open_program">
                                        <h5 class="font-weight-bolder">Программа - {{ program.child }}</h5>
                                    </div>
                                    <small class="d-block">Дата создания
                                        программы: {{ program.created_date.date }}</small>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <button class="btn btn_outline_none btn-light"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo">
                        <span class="btn_accordion_text">Закрытые программы</span>
                    </button>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <h5 id="no_close_program" class="text-dark text-center m-0"></h5>
                        {% for program in program_list %}
                            {% if not program.status %}
                                <a href="{% url 'webapp:program_detail' program.pk %}"
                                   class="list-group-item list-group-item-action m-1">
                                    <div class="d-flex w-100 justify-content-between close_program">
                                        <h5 class="font-weight-bolder">Программа - {{ program.child }}</h5>
                                    </div>
                                    <small class="d-block">Дата создания
                                        программы: {{ program.created_date.date }}</small>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/check_find_input_is_not_null/check_find_input_is_not_null.js' %}"></script>
{% endblock %}