{% load staticfiles %}
{% block title %}Список найденных программ{% endblock %}
{% include 'base.html' %}
{% block content %}
    <div class="container">
        <h3 class="font-weight-bold">Редактирование навыка</h3>
        <form action="{% url 'webapp:program_skill_update' form.instance.program.pk form.instance.pk %}"
              method="POST"
              enctype="multipart/form-data" class="w-100">
            {% csrf_token %}
            <div class="form-group row was-validated">
                <label for="id_skill"
                       class="col-sm-2 col-form-label col-form-label-sm is-invalid">Навык</label>
                <div class="col-sm-7">
                    {{ form.skill }}
                    {% for i in form.skill.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                    <small class="form-text text-muted">Выберите
                        навык
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label for="id_stimulus"
                       class="col-sm-2 col-form-label col-form-label-sm w-50">Стимул</label>
                <div class="col-sm-7">
                    {{ form.stimulus }}
                    {% for i in form.stimulus.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_study_method"
                       class="col-sm-2 col-form-label col-form-label-sm d-inline-block">Метод
                    обучения</label>
                <div class="col-sm-7">
                    {{ form.study_method }}
                    {% for i in form.study_method.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_reinforcement_reaction"
                       class="col-sm-2 col-form-label col-form-label-sm">Реакция
                    для
                    подкрепления</label>
                <div class="col-sm-7">
                    {{ form.reinforcement_reaction }}
                    {% for i in form.reinforcement_reaction.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_reinforcement_mode"
                       class="col-sm-2 col-form-label col-form-label-sm">Режим
                    подкрепления</label>
                <div class="col-sm-7">
                    {{ form.reinforcement_mode }}
                    {% for i in form.reinforcement_mode.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_hint_type"
                       class="col-sm-2 col-form-label col-form-label-sm">Вид
                    подсказки</label>
                <div class="col-sm-7">
                    {{ form.hint_type }}
                    {% for i in form.hint_type.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_hint_type_delete"
                       class="col-sm-2 col-form-label col-form-label-sm">Режим
                    удаления
                    подсказки</label>
                <div class="col-sm-7">
                    {{ form.hint_type_delete }}
                    {% for i in form.hint_type_delete.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_hint_levels"
                       class="col-sm-2 col-form-label col-form-label-sm">Уровень
                    подсказки</label>
                <div class="col-sm-7">
                    {{ form.hint_levels }}
                    {% for i in form.hint_levels.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_generalization"
                       class="col-sm-2 col-form-label col-form-label-sm">Критерий мастерства</label>
                <div class="col-sm-7">
                    {{ form.mastery_criterion }}
                    {% for i in form.mastery_criterion.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_generalization"
                       class="col-sm-2 col-form-label col-form-label-sm">Обобщение</label>
                <div class="col-sm-7">
                    {{ form.generalization }}
                    {% for i in form.generalization.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-sm btn-warning mt-2" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}