{% extends 'base.html' %}
{% block title %}Редактирование программы{% endblock %}
{% load staticfiles %}
{% block styles %}
    {{ form.media.css }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="border-bottom pb-2 pt-2 text-center">
            <h2 class="font-weight-bold">Редактирование программы</h2>
        </div>
        <form class="mt-2" action="{% url 'webapp:program_update' form.instance.pk %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_name" class="col-sm-2 col-form-label col-form-label-sm">Программа</label>
                <div class="col-sm-6">
                    {{ form.name }}
                    <small class="form-text text-muted">Желательно ввести название для программы</small>
                    {% for i in form.name.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_description" class="col-sm-2 col-form-label col-form-label-sm">Описание</label>
                <div class="col-sm-6">
                    {{ form.description }}
                    <small class="form-text text-muted">По желанию</small>
                    {% for i in form.description.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_program_comment" class="col-sm-2 col-form-label col-form-label-sm">Комментарий к
                    программе</label>
                <div class="col-sm-6">
                    {{ form.program_comment }}
                    <small class="form-text text-muted">По желанию</small>
                    {% for i in form.program_comment.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_skills" class="col-sm-2 col-form-label col-form-label-sm">Навыки</label>
                <div class="col-sm-6">
                    {{ form.skills }}
                    {% for i in form.skills.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <a class="text-decoration-none text-dark small update_and_back">
                <button type="submit" class="btn btn-warning m-0 btn-sm" style="width: 125px">Сохранить</button>
            </a>
            <a href="{{ request.META.HTTP_REFERER }}"
               class="text-decoration-none text-dark small">
                <button class="btn btn-warning m-0 btn-sm mr-1" style="width: 125px">Назад</button>
            </a>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media.js }}
{% endblock %}