{% extends 'base.html' %}
{% block title %}Страница создания программы{% endblock %}
{% load staticfiles %}
{% block styles %}
    {{ form.media.css }}
{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Добавление программы</h2>
        <form action="{% url 'webapp:program_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="id_name" class="col-sm-2 col-form-label col-form-label-sm">Программа</label>
                <div class="col-sm-6">
                    {{ form.name }}
                    <small class="form-text text-muted">Желательно ввести название для программы</small>
                    {% for i in form.name.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row was-validated">
                <label for="id_child" class="col-sm-2 col-form-label col-form-label-sm">Ребенок</label>
                <div class="col-sm-6">
                    {{ form.child }}
                    <small class="form-text text-muted">Обязательное поле</small>
                    {% for i in form.child.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_description" class="col-sm-2 col-form-label col-form-label-sm">Описание</label>
                <div class="col-sm-6">
                    {{ form.description }}
                    <small class="form-text text-muted">По желанию</small>
                    {% for i in form.description.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <label for="id_program_comment" class="col-sm-2 col-form-label col-form-label-sm">Комментарий к
                    программе</label>
                <div class="col-sm-6">
                    {{ form.program_comment }}
                    <small class="form-text text-muted">По желанию</small>
                    {% for i in form.program_comment.errors %}
                        <p class="font-weight-light text-danger d-block small text-center pb-0 mb-0">{{ i }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="text-center">
                <a role="button" class="btn btn-outline-primary" href="{% url 'webapp:program_list' %}"
                   style="width: 125px">Назад</a>
                <button type="submit" class="btn btn-outline-primary" style="width: 125px">Далее</button>
            </div>
        </form>
    </div>
{% endblock %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
{% block scripts %}
    <script type="text/javascript">
        window.onerror = function (msg) {
            $("body").attr("JSError", msg);
        }
    </script>
    {{ form.media.js }}
{% endblock %}
