{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Тестирование{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/testing_page.css' %}">
{% endblock %}
{% block content %}
    <div class="border-bottom pb-2 pt-2 text-center container">
        <h2 class="font-weight-bold">Информация о тесте</h2>
    </div>
    <div class="container d-flex flex-wrap align-items-baseline">
        <div class="col-md-6 col-sm-12">
            <p>Тестирование №{{ test_info.pk }}</p>
            <p>Имя ребенка: {{ test_info.child.first_name }} {{ test_info.child.last_name }}</p>
            <p>Имя
                терапевта: {{ test_info.attending_therapist.user.last_name }} {{ test_info.attending_therapist.user.first_name }}</p>
            <p>Дата: {{ test_info.created_date.date }}</p>
        </div>
        <div class="align-self-center text-center col-md-5 col-sm-12">
            {% if perms.webapp.can_test %}
                <span id="test-status-{{ test_info.pk }}"
                      data-url="{% url 'webapp:update_test_status' test_info.pk %}"
                      data-status_btn_id="test-{{ test_info.pk }}"
                      class="btn btn-lg m-4 press_test{% if test_info.status %} btn-danger{% else %} btn-success{% endif %}"
                >{% if test_info.status %} Завершить тест{% else %} Открыть тест{% endif %}</span>
            {% endif %}
        </div>
        <div class="card-deck col-12">
            <h3 class="col-12">Навыки</h3>
            {% for key,value in results.items %}
                <div class="col-xl-3 col-md-4 col-sm-6 mb-4">
                    <p class="category_title p-1">{{ key }}</p>
                    <div class="col-12 p-0 align-items-center d-flex">
                        <div class="col-2 p-0  mr-2 header_text">Код</div>
                        <div class="d-inline-block col-7 m-0 p-0 header_text">Уровни</div>
                        <div class="d-inline-block col-2 p-1 header_text status_header">Статус</div>
                    </div>
                    {% for result in value %}
                        <div class="col-12 p-0 align-items-center d-flex">
                            <div class="skill_code col-2 p-0  mr-2">{{ result.skill.code_skill }} </div>
                            <form id="test-{{ test_info.pk }}-skill-{{ result.pk }}-levels" method="post"
                                  class="d-inline-block col-7 m-0 p-0"
                                  action="{% url 'webapp:update_level' result.pk %}">
                                {% csrf_token %}
                                {% for i in 0|ljust:result.skill.difficulty %}
                                    <div
                                            data-value='{{ forloop.counter }}'
                                            data-form_id="test-{{ test_info.pk }}-skill-{{ result.pk }}-levels"
                                            class="m-1 level {% if forloop.counter <= result.level %} on{% endif %} {{ result.status|yesno:"press_level," }}"
                                    > {{ forloop.counter }}</div>
                                {% endfor %}
                                <input type="hidden" value="{{ result.level }}" name='value'>
                            </form>
                            <div class="d-inline-block col-2 p-1 text-center">
                                <div
                                        id="test-{{ test_info.pk }}-skill-{{ result.pk }}-status"
                                        data-url="{% url 'webapp:update_result_status' result.pk %}"
                                        data-form_id="test-{{ test_info.pk }}-skill-{{ result.pk }}-levels"
                                        class="level press_status {% if not result.status %} on{% endif %}"
                                >{% if not result.status %}X{% else %}&nbsp;{% endif %}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/test_process/update_level.js' %}"></script>
{% endblock %}