{% extends 'base.html' %}
{% block title %}Страница запрета доступа{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <h2 class="text-center text-danger mt-4">Доступ запрещён!</h2>
    </div>
{% endblock %}