{% extends 'base.html' %}
{% block title %}Страница инструкции{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="border-bottom pb-2 pt-2 text-center">
            <h2 class="font-weight-bold">Инструкция по использованию сайта</h2>
        </div>
        <h4 class="mt-2 font-weight-bold">Доступ на сайт</h4>
        <p>Доступ на сайт осуществляется посредством ввода логина и пароля на странице входа. Логин и пароль
            предсотавляются Менеджером или ACD.</p>
        <h4 class="mt-2 font-weight-bold">Группы, права и доступ</h4>
        <p>Имеются 5 групп пользователей (ACD, Менеджеры, Кейс-тераписты, Тераписты, Родители), в соответствии с
            которыми
            распределяются права и доступ на сайт.</p>
        <div class="mt-2 ml-4">
            <h5 class="font-weight-bold">Права группы - "ACD"</h5>
            <p>Имеет максимальный доступ.</p>
        </div>
        <div class="mt-2 ml-4">
            <h5 class="font-weight-bold">Права группы - "Менеджеры"</h5>
            <p>Имеет максимальный доступ, за исключением того, что может просматривать программы и профили только
                закреплённых за собой детей. При создании профиля ребёнка, он будет закреплён сразу за Менеджером.
                Создание программ доступно только для закреплённых детей.</p>
        </div>
        <div class="mt-2 ml-4">
            <h5 class="font-weight-bold">Права группы - "Кейс-тераписты"</h5>
            <li>Просмотр и редактирование закреплённых детей и их программ;</li>
            <li>Создание программ доступно только для закреплённых детей;</li>
            <li>Просмотр, создание и редактирование секций;</li>
            <li>Просмотр, создание и редактирование навыков;</li>
            <li>Проведение и отмена сессий, добавление навыков в сессию, просмотр результатов сессии и перемещение
                отработанных навыков в закрытые;
            </li>
            <li>Проведение тестирования, просмотр результатов тестирования;</li>
            <li>Возможность скачать программу ребёнка и домашнее задание для родителей в "Word";</li>
            <li>Возможность скачать результаты сессий и графики в "Excel";</li>
        </div>
        <div class="mt-2 ml-4">
            <h5 class="font-weight-bold">Права группы - "Тераписты"</h5>
            <li>Просмотр закреплённых детей и их программ;</li>
            <li>Просмотр секций и навыков;</li>
            <li>Проведение и отмена сессий, добавление навыков в сессию, просмотр результатов сессии и перемещение
                отработанных навыков в закрытые;
            </li>
            <li>Проведение тестирования, просмотр результатов тестирования;</li>
            <li>Возможность скачать программу ребёнка и домашнее задание для родителей в "Word";</li>
            <li>Возможность скачать результаты сессий и графики в "Excel".</li>
        </div>
        <div class="mt-2 ml-4">
            <h5 class="font-weight-bold">Права группы - "Родители"</h5>
            <li>Просмотр своих детей и их программ;</li>
            <li>Просмотр результатов сессии и тестирования своих детей;</li>
            <li>Возможность скачать программу и домашнее задание своего ребёнка в "Word";</li>
            <li>Возможность скачать результаты сессий по программе своего ребёнка и графики в "Excel".</li>
        </div>
        <h4 class="mt-2 font-weight-bold">Проведение сессии</h4>
        <p>Запустить сессию можно со страницы просмотра программы ребёнка. При начале сессии в отрабатываемые навыки
            попадают все навыки из программы ребёнка, которые еще не были отработаны. Сессию можно отменить только до
            начала накликивания, после того как вы кликнули отмена сессии будет недоступна. В момент проведения сессии
            вы можете покидать страницу сессии и переходить на другие необходимые страницы, результаты накликивания не
            будут утрачены, кроме того, начало новой сессии будет недоступно до момента закрытия предыдущей сессии. Если
            вы покинули страницу сессии, то вернуться в сессию всегда можно из панели навигации, где будет надпись
            "Сессия
            не закрыта" по клику на которую вы можете вернуться к сессиию. Для того чтобы закрыть сессию необходимо
            нажать кнопку "Закрыть сессию", по клику на которую выйдёт окно с подтверждением закрытия сессии.</p>
        <h4 class="mt-2 font-weight-bold">Результаты сессии</h4>
        <p> На странице просмотра результатов будет выведена дата проведения сессии, ФИО пользователя проводившего
            терапию и ФИО ребёнка с которым проводили терапию.
            В таблицу с результатами попадают только навыки по которым проводилась терапия (были накликивания). Навык
            можно
            перенести в закрытые(отработанные) только если процент успешного выполнения 80% и более. В этом случае
            в столбце "Переместить в закрытые?" появиться кнопка "Да", по нажатию на которую навык будет перемещён в
            закрытые.</p>
        <h4 class="mt-2 font-weight-bold">Страница просмотра программы</h4>
        <p> Программа может быть действующая или закрытая. На странице просмотра программы выведется все
            информация по программе, кнопка начала сессии, все навыки в программе в трёх таблицах ("Все навыки в
            программе", "Закрытые навыки" - попадают только навыки которые были перемещены в закрытые, "Открытые навыки"
            - попадают навыки которые отрабатывались в сессии , но не были перемещены в закрытые), также будет отображён
            процент отработки каждого навыка в сессиях. Программа автоматически закроется если все навыки в программе
            будут закрыты(отработаны). Закрытую программу невозможно редактировать и проводить по ней сессии. В случае
            наличия проведённых сессий будет выведен список сессий и появиться возможность скачать Д/З и графики.</p>
        <h4 class="mt-2 font-weight-bold">Секции и навыки</h4>
        <p>Коды секции должны состоять из заглавных латинских букв, например: "C, D, E, AA, BB...". Коды навыков должны
            состоять из заглавных латинских букв и цифер, например: "A1, B3, C5, D40, AA1, BB2..." Это нужно для корректной сортировки
            секций и навыков при выводе .docx Документа (программы и домашнего задания).
        </p>
        <h4 class="mt-2 font-weight-bold">Перемещение в архив</h4>
        <p> Программы, профили детей и профили пользователей можно переместить в архив. После этого они не будут
            доступны на сайте. Вернуть с архива может только администратор сайта.</p>
        <h4 class="mt-2 font-weight-bold">Удаление</h4>
        <p> При удалении навыки удаляются безвозвратно. Кроме того, если навык был в программе, он удалиться из неё, из
            всех сесссий и результатов.</p>
    </div>
{% endblock %}