{% extends 'base.html' %}
{% block title %}Результат сессии{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="text-center mt-4 mb-4">Страница просмотра результата</h3>
        {% if child.third_name %}
            <p class="font-weight-bold">Ребенок: <span
                    class="font-weight-normal">{{ child.last_name }} {{ child.first_name }} {{ child.third_name }}</span>
            </p>
        {% else %}
            <p class="font-weight-bold">Ребенок: <span
                    class="font-weight-normal">{{ child.last_name }} {{ child.first_name }}</span>
            </p>
        {% endif %}
        <p class="font-weight-bold">Терапист: <span
                class="font-weight-normal">{{ terapist.user }}</span>
        </p>
        <p class="font-weight-bold">Дата проведения сессии: <span
                class="font-weight-normal">{{ date_of_session }}</span>
        </p>
        <div class="table"
             style="overflow: auto;">
            <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col">Код</th>
                    <th scope="col">Название навыка</th>
                    <th scope="col">C подсказкой <br>(кол-во)</th>
                    <th scope="col">Без подсказки <br>(кол-во)</th>
                    <th scope="col">Количество ответов<br>(кол-во)</th>
                    <th scope="col">Процент успешности <br>(%)</th>
                    <th scope="col">Статус</th>
                    {% if perms.webapp.can_move_skill_in_close %}
                        <th scope="col">Переместить в закрытые?<br></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for result in result_list %}
                    <tr class="text-center">
                        <td>{{ result.skill.skill.code_skill }}</td>
                        <td class="text-left">{{ result.skill.skill.name }}</td>
                        <td>{{ result.done_with_hint }}</td>
                        <td>{{ result.done }}</td>
                        <td>{{ result.total }}</td>
                        <td>{{ result.percent }}</td>
                        <td> {% if result.skill.status != True %}
                            <p>Закрыт</p>
                        {% else %}
                            <p>Открыт</p>
                        {% endif %}
                        </td>
                        {% if perms.webapp.can_move_skill_in_close %}
                            <td class="m-0 p-0">
                                {% if result.skill.status == True %}
                                    {% if result.percent >= 80 %}
                                        <a role="button" class="btn btn-success m-0 pr-3 pl-3 pt-2 pb-2"
                                           href="{% url 'webapp:change_status_skill' result.skill.pk %}?session={{ session_pk }}">Да</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center mt-3">
            <a role="button" class="btn btn-success m-2"
               id="session_close"
               href="{% url 'webapp:change_status_session' session_pk %}"
               style="width: 100%">Закончить просмотр результатов</a>
        </div>
    </div>
{% endblock %}

