{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Сессия{% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between rty">
            <div>
                <a class="text-decoration-none text-dark small">
                    <button
                            data-toggle="modal"
                            data-target="#addSkill"
                            class="btn btn-outline-secondary w-auto edit_result"
                    >Добавить навык
                    </button>
                </a>
            </div>
            <div><a role="button" id="cancel_session" class="btn btn-outline-danger w-auto"
                    href={% url 'webapp:cancel_session' pk %}>Отменить сессию</a>
                <a role="button" id="session_result" href="#" data-toggle="modal" data-target="#deleteModal"
                   style="width: 125px" class="btn btn-outline-success w-auto"
                   data-delete-url="{% url 'webapp:session_result_view' pk %}">Закончить сессию</a>
            </div>
        </div>
        <ul class="list-group">
            {% for skill in list %}
                <li class="list-group-item mt-3">
                    {% if skill.skill.name %}
                        <h3 class="text-center">{{ skill.skill.code_skill }}</h3>
                        <p class="text-center font-weight-bold mb-1">{{ skill.skill.name }}</p>
                        {% if skill.stimulus %}
                            <p class="text-center font-weight-light mb-1">{{ skill.stimulus }}</p>
                        {% endif %}
                    {% else %}
                        <p class="text-center">{{ skill.added_skill }}</p>
                    {% endif %}
                    <div>
                        <div class="d-flex justify-content-around">
                            <form id="form-hint-{{ skill.pk }}" method="post" class="col-lg-3 text-center"
                                  action="{% url 'webapp:done_w_hint' skill.pk %}">
                                {% csrf_token %}
                                <button onclick="counterDoneWithHint('{{ skill.pk }}', event)"
                                        class="rounded-circle btn btn-warning w_hint_but_padding">
                                    <span>C подсказкой</span>
                                </button>
                            </form>
                            <form id="form-{{ skill.pk }}"
                                  method="post"
                                  class="col-lg-3 text-center"
                                  data-get-url="{% url 'webapp:counter_get_view' skill.pk %}"
                                  action="{% url 'webapp:counter_done' skill.pk %}">
                                {% csrf_token %}
                                <button onclick="counterDone({{ skill.pk }}, event)"
                                        class="btn rounded-circle btn-primary done_but_padding">
                                    <span>Сам</span>
                                </button>
                            </form>
                        </div>
                        <div class="d-block col-lg-1 m-auto text-center">
                            <p id="{{ skill.pk }}" class="border rounded border-primary p-3 count_attempt">0</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% include 'program_views/_modalAddForm.html' %}

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="card">
                        <h5 class="card-header text-center">Закрытие сессии</h5>
                    </div>
                    <div class="modal-body p-0 m-0">
                        <div class="modal-body">
                            <span class="d-block font-weight-bold text-center mb-3">Вы уверены что хотите закончить сессию?</span>
                            <div class="text-center">
                                <button class="category_button1_modal p-0">
                                    <a class="btn btn-outline-success"
                                       href={% url 'webapp:session_result_view' pk %}>
                                        <span class="text-dark">Да</span>
                                    </a>
                                </button>
                                <button class="category_button2_modal p-0" data-dismiss="modal">
                                    <a class="btn btn-outline-danger"><span class="text-dark">Нет</span></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let insert_counter = undefined;
        let insert_counter_total = undefined;
        let elem = undefined;
        window.onload = () => {
            let sum = 0;
            {% for skill in list %}
                insert_counter = dataGet({{ skill.pk }});
                insert_counter_total = insert_counter['total'];
                sum = sum + insert_counter_total;
                elem = $('#' + {{ skill.pk }});
                elem.empty().append(insert_counter_total);
            {% endfor %}
            ((sum === 0)) ? $("#session_result").hide() : $("#cancel_session").hide();
        };
    </script>
    <script src="{% static 'js/session_detail/counter.js' %}"></script>
{% endblock %}